.main {
    width: 875px;
    margin: -250px auto;
    height: 500px;
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
	display: table;
}
.digital-sum {
text-align:center;
font-size:44px;
display: table-row;	
}	
#a7, #b4, #result {
    padding: 2px 6px;
    border-radius: 4px;	
}
#eleven {
    font-size: 40px;
    /* padding: 2px 4px; */
    width: 50px;
}
#success {
    color:green;
}	
.arrow {
    font-size: 0;
    vertical-align: bottom;
    display: table-cell;
}	
.seven, .four {
   display:none;
   opacity: 0;   
}
.seven {
    width: 273px;
    padding-left: 35px;
}	
.seven div {
    text-align: center;
    width: 273px;
	font-size:28px;
}	
.seven img {
   width:273px;
}
.four {
    width: 157px;
    vertical-align: bottom;
}
.four img {
   width:157px;
}
.four div {
    text-align: center;
    width: 157px;
	font-size:28px;	
}
	
img {
    vertical-align: bottom;
}
.digit {
    width: 22px;
    text-align: center;
    border-radius: 4px;
    font-size: 24px;
    border: 1px solid #ccc;
}	
.active {
    display: table-cell;
}	